@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Italianno&family=Jost:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: "jost", Arial, Helvetica, sans-serif;
}

header {
    font-family: "inter", Arial, Helvetica, sans-serif;

    .logo {
        font-family: "italianno", cursive;
        color: #121112;
        font-size: 4em;
        text-align: center;
        display: block;
    }

    .menu-res {
        width: 10px;
    }

    .nav-lista {
        display: flex;
        justify-content: space-around;
        padding: 0;
        list-style: none;
    }

    ul>li {
        display: inline-block;
        padding: 10px 5px;

        a:hover {
            text-decoration: underline;
        }
    }
}

a {
    color: black;
    text-decoration: none;
}

@keyframes aumentando {
    0%{
        transform: scale(1);
    }
    
    100%{
        transform: scale(1.25);
    }
}

main {

    section#sec1 {
        background-image: url("../img/fundo.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        text-align: center;
        height: 1050px;

        h1 {
            color: rgb(255, 255, 255);
            font-size: 4.75vw;
            text-shadow: 1px 1px 2px black;
            text-align: center;
            padding: 200px 0px;
        }

        h2 {
            font-size: 2em;
            font-weight: 400;
            padding: 20px;
            background-color: white;
        }

        div.info {
            display: grid;
            grid-template-columns: 33.3333% 33.3333% 33.3333%;
            background-color: white;

            @media screen and (max-width: 700px) {
                grid-template-columns: 50% 50%;

            }

            div {
                padding: 4px;
                margin: 20px 0px;
            }

            h3 {
                font-weight: 300;
                text-transform: uppercase;
            }

            p {
                font-weight: 300;
            }
        }
    }

    section#sec2 {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 30px;

        div {
            margin: 0px 10px;
        }

        div#fundo1 {
            width: 332px;
        }

        div#fundo2 {
            width: 307px;
        }

        div#fundo3 {
            width: 333px;
        }

        img,
        p {
            font-size: 130%;
            font-weight: 900;
            width: 100%;
        }
    }

    section#sec3 {

        div#fundo4 {
            background-image: url("../img/potes.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 190px;
        }

        h3 {
            margin-top: 40px;
            margin-bottom: 50px;
            text-align: center;
            font-weight: 300;
            font-size: 60px;
        }
    }

    div#par {
        p {
            text-align: center;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    div#par2 {
        p {
            text-align: center;
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 80px;
        }
    }

    div#par3 {
        p {
            text-align: center;
            font-weight: 300;
            font-size: 40px;
            font-weight: bold;
        }
    }

    div#par4 {
        p {
            text-align: center;
            font-weight: 300;
            font-size: 60px;
            font-family: "italianno", cursive;
        }
    }

    

    .flex {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .flex:hover{
        animation: aumentando 1s alternate forwards;
    }

    

    hr{
        border: 3px solid #CFC13D;
        max-width: 444px;
        margin: 0px auto 60px;
    }

}

footer{
    height: 450px;


    div#redes{
        margin-top: 200px;
        height: 300px;
        background-image: url("https://s3-alpha-sig.figma.com/img/774d/a023/3342f01a6e6167cc23f7ef529caaa9e6?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=kVfULZBSQ3I0X3rRRjYpNi1c4MmnsIcLDxkpgeLaLW8vMFubRGjGhJQlGEwskbtU~drt2sdQzwyw0aXqyrfl-Jzdcw9RVtI8Bw7CaxRCk3Q2Qsa5MdbPtTKtzzv9P5bhgu8WSf11qIC-UUvmNVK3E6PjTZPhL7rgbPUyOo-I1l9B2xqIB65UDkzhxK4sk94vrjj3fk8ewT921E0RCbK8PU40OaWBMR14KqL3yvsrTyoW6sPZGWZrWt5Ct9MrqqbZJRfU14DBVwAc5wrxtj4RY3l5~wBctF2dAB6Q63rxLxPpG9Yp0IR0UZ9kBcfIICLLPE-4CkfvQzCrtSgBlFPvdg__");
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        div{
            width: 150px;
            height: 150px;
            background-color: #D9D9D9;
            border-radius: 100px;
            filter: drop-shadow(0px 0px 4px #000000a6);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                filter: drop-shadow(0px 0px 4px #0000009c);
            }
        }
    }
    div#footer_logo{
        height: 150px;
        display: flex;
        align-items: last baseline;
        justify-content: center;

        p{
            margin-bottom: 40px;
            font-size: 1.6em;
        }
    }
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0.9s;
}

@media screen and (max-width: 700px) {
    .hidden{
        opacity: 1;
        filter: blur(0px);
        transform: translateX(0%);
    }
}

.show{
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
    transition: all 0.9s;
}

@keyframes telaVisivel{
    100%{
        
    }
}

#sec2:nth-child(2){
    transition-delay: 400ms;
}

#sec2:nth-child(3){
    transition-delay: 700ms;
}
